[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
degen_pools = "2JWqYTXG5yHSU78hjKb39YFx82whbK74v6sMqMG3TVBQ"

[programs.devnet]
degen_pools = "2JWqYTXG5yHSU78hjKb39YFx82whbK74v6sMqMG3TVBQ"

[programs.mainnet]
degen_pools = "2JWqYTXG5yHSU78hjKb39YFx82whbK74v6sMqMG3TVBQ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[test]
startup_wait = 60000

[[test.genesis]]
address = "2JWqYTXG5yHSU78hjKb39YFx82whbK74v6sMqMG3TVBQ"
program = "target/deploy/degen_pools.so"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/*.test.ts"
